# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/assets/dramaticdoors/textures/blocks/crimson_door_whole.png
/src/main/resources/assets/dramaticdoors/textures/blocks/tall_warped_door_whole.png
/src/main/resources/assets/dramaticdoors/textures/blocks/driftwood_door_whole.png
/src/main/resources/assets/dramaticdoors/textures/blocks/wisteria_door_bottom.png
/src/main/resources/assets/dramaticdoors/textures/blocks/wisteria_door_top.png
/src/main/resources/assets/dramaticdoors/textures/blocks/tall_wisteria_door_whole.png
/src/main/resources/assets/dramaticdoors/textures/blocks/tall_river_door_whole.png
/src/main/resources/assets/dramaticdoors/textures/blocks/river_door_top.png
/src/main/resources/assets/dramaticdoors/textures/blocks/river_door_bottom.png
